n8n-workflows/job-scout.json
{
  "name": "Job Scout",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-jobs",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/search-jobs",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "call-api",
      "name": "Call FastAPI Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Return the job search results\nconst response = items[0].json;\nreturn response.jobs.map(job => ({ json: job }));"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call FastAPI Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call FastAPI Service": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}